<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select required (change)="Roles">
            <mat-option *ngFor="let role of Roles; let i = index" [value]="i">
              {{role.roleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Saint Name" name="saintName" [(ngModel)]="saintName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Last Name" name="lastName" [(ngModel)]="lastName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Middle Name" name="middleName" [(ngModel)]="middleName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput required placeholder="First Name" name="firstName" [(ngModel)]="firstName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Email" name="email" [(ngModel)]="email">
        </mat-form-field>

        <form>
            <mat-form-field class="example-full-width">
              <input matInput required placeholder="Address" name="address" [(ngModel)]="address">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput required placeholder="City" name="city" [(ngModel)]="city">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>State</mat-label>
              <mat-select required>
                <mat-option [value]="states" *ngFor="let states of States">{{states}} </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput required placeholder="Zip Code" name="zipCode" [(ngModel)]="zipCode">
            </mat-form-field>
        </form>

      <form>
        <mat-form-field class="example-full-width">
          <mat-label>Classes</mat-label>
          <mat-select multiple required>
            <mat-option [value]="classes" *ngFor="let classes of Classes">{{classes}} </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
    </form>
  </mat-card>
</div>
