<!-- Toolbar -->
<mat-toolbar color = "primary">
  <mat-toolbar-row>
    <h1>Giao Xu Cac Thanh Tu Dao Viet Nam</h1>
    <span class = "menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/Home'"> Home </a>
      <a mat-button [routerLink]="'/Login'"> Login </a>
      <a mat-button [routerLink]="'/Registration'"> Registration </a>
      <a mat-button [routerLink]="'/Contact'"> Contact </a>
      <a mat-button [routerLink]="'/About'"> About </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
